[user]
	email = a.nowak.2769@gmail.com
	name = Andrew Nowak
[push]
	default = simple
[credential]
	helper = store
[log]
	decorate = true
[alias]
	ci = commit
	co = checkout
	lgo = log
	ln = log --oneline --no-decorate
	undo = reset --hard HEAD~1
